h1 {color:blue; font-size:70px;}	
#green {
		color: green;
		text-decoration: underline;
		}

h2.red {color: red; font-size: 50px}

h2.green {color: seagreen; font-size: 50px}
#loki {font-size: 30px}

body {
	text-align: center; 
	background-color: black
		}