body {
	background-color: lightgray;
}

div {
	color: white;
	padding: 20px;
	margin: 40px;	
	width: 30%;
	display: inline-block;
	border-radius: 100px;

}

#day {
	background-color: orange;
	border: 10px solid red;
}

#night {
	background-color: purple;
	border: 10px dashed black;
}

#sun {
	text-align: center;
}

#moon {
	text-align: center;
}